<nav class="navbar navbar-light">
    <div class="container-fluid">

        <!-- Add a button or element on right side -->
        <h2>Angular CRUD</h2>
        <div class="d-flex">
            <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="clickAdd()">Add Employee</button>
        </div>

    </div>
</nav>


<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email ID</th>
            <th scope="col">Mobile No.</th>
            <th scope="col">Salary</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of empData">
            <td>
                {{row.id}}
            </td>
            <td>
                {{row.firstName}}
            </td>
            <td>
                {{row.lastName}}
            </td>
            <td>
                {{row.email}}
            </td>
            <td>
                {{row.mobile}}
            </td>
            <td>
                {{row.salary}}
            </td>
            <td>
                <button (click)="onEdit(row)" class="btn btn-secondary" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit</button>&nbsp;
                <button (click)="deleteEmp(row)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formValue">
                    <div class="mb-3">
                        <label for="exampleInputFirstName1" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="exampleInputFirstName1" formControlName="firstName" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputLastName1" class="form-label">Last Name</label>
                        <input type="email" class="form-control" formControlName="lastName" id="exampleInputLastName1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleMobile" class="form-label">Mobile</label>
                        <input type="number" class="form-control" formControlName="mobile" id="exampleMobile">
                    </div>
                    <div class="mb-3">
                        <label for="exampleSalary" class="form-label">Salary</label>
                        <input type="number" class="form-control" formControlName="salary" id="exampleSalary">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" *ngIf="showAdd" (click)="postEmpDetails()">Add</button>
                <button type="button" class="btn btn-primary" *ngIf="showUpdate" (click)="update()">Update</button>
            </div>
        </div>
    </div>
</div>